@import "../../../common.scss";
@import "../../../reset.css";

.main-right-recommand-div {
  width: 320px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 10px 0 10px 0;

  .main-right-recommand-profile {
    width: 32px;
    height: 32px;

    border-radius: 50%;
  }

  .main-right-recommand-content {
    width: 200px;
    display: flex;
    flex-direction: column;
  }

  .main-right-recommand-content-btn {
    color: #0095f6;
    background-color: $default-light-white;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
  }
}
