* {
  box-sizing: border-box;
  border-radius: 3px;
}

$default-light-white: #fafafa;
$default-dark-white: #e0e0e0;
$default-font-family: "Lobster", cursive;
$default-font-size: 12px;

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
