@import "../common.scss";
@import "../reset.css";

.container {
  width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: auto;

  background-color: $default-light-white;
}
